*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

# Imports

In [ ]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [ ]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2022-01-14 14:50:43--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.2.33, 172.67.70.149, 104.26.3.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.2.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  27.9MB/s    in 0.9s

2022-01-14 14:50:44 (27.9 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [ ]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

* To build a model for this, we need to align the two dataframes according to the ISBN numbers.

# Data Processing

In [ ]:
df_books.head()

         isbn  ...                author
0  0195153448  ...    Mark P. O. Morford
1  0002005018  ...  Richard Bruce Wright
2  0060973129  ...          Carlo D'Este
3  0374157065  ...      Gina Bari Kolata
4  0393045218  ...       E. J. W. Barber

[5 rows x 3 columns]

In [ ]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [ ]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   isbn    271379 non-null  object
 1   title   271379 non-null  object
 2   author  271378 non-null  object
dtypes: object(3)
memory usage: 6.2+ MB

In [ ]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   user    1149780 non-null  int32
 1   isbn    1149780 non-null  object
 2   rating  1149780 non-null  float32
dtypes: float32(1), int32(1), object(1)
memory usage: 17.5+ MB

In [ ]:
df = pd.merge(df_books, df_ratings, on = 'isbn')

In [ ]:
df.head()

         isbn                title                author   user  rating
0  0195153448  Classical Mythology    Mark P. O. Morford      2     0.0
1  0002005018         Clara Callan  Richard Bruce Wright      8     5.0
2  0002005018         Clara Callan  Richard Bruce Wright  11400     0.0
3  0002005018         Clara Callan  Richard Bruce Wright  11676     8.0
4  0002005018         Clara Callan  Richard Bruce Wright  41385     0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031175 entries, 0 to 1031174
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   isbn    1031175 non-null  object
 1   title   1031175 non-null  object
 2   author  1031174 non-null  object
 3   user    1031175 non-null  int32
 4   rating  1031175 non-null  float32
dtypes: float32(1), int32(1), object(3)
memory usage: 39.3+ MB

In [ ]:
isnotnum = []
for i in range(len(df['isbn'])):
  if df['isbn'][i].isnumeric() == False:
    isnotnum.append(i)

In [ ]:
df = df.drop(isnotnum, axis = 0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 945774 entries, 0 to 1031174
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   isbn    945774 non-null  object
 1   title   945774 non-null  object
 2   author  945773 non-null  object
 3   user    945774 non-null  int32
 4   rating  945774 non-null  float32
dtypes: float32(1), int32(1), object(3)
memory usage: 36.1+ MB

In [ ]:
df['isbn'] = df['isbn'].astype('int')

In [ ]:
df = df[df['rating'] > 0]

In [ ]:
df.describe()

               isbn           user         rating
count  3.522050e+05  352205.000000  352205.000000
mean   8.501332e+08  136004.803200       7.626680
std    1.280668e+09   80483.810172       1.837556
min    9.131540e+05       8.000000       1.000000
25%    3.757080e+08   67547.000000       7.000000
50%    4.715797e+08  133786.000000       8.000000
75%    7.868668e+08  206202.000000       9.000000
max    1.000000e+10  278854.000000      10.000000

In [ ]:
df['user'].nunique()

64826

In [ ]:
df['isbn'].nunique()

137715

In [ ]:
book_count = pd.DataFrame(df["title"].value_counts())

In [ ]:
rare_book = book_count[book_count["title"] <= 100].index

In [ ]:
rare_book.nunique()

125247

In [ ]:
common_book = df[~df["title"].isin(rare_book)]
common_book.head()

          isbn          title        author   user  rating
104  440234743  The Testament  John Grisham   3329     8.0
108  440234743  The Testament  John Grisham   7346     9.0
109  440234743  The Testament  John Grisham   7352     8.0
110  440234743  The Testament  John Grisham   9419     5.0
113  440234743  The Testament  John Grisham  11224     6.0

In [ ]:
user_book_df = common_book.pivot_table(index=["user"], columns=["title"], values="rating")
user_book_df

title   1984  1st to Die: A Novel  ...  Wild Animus  \O\" Is for Outlaw"
user                               ...
16       NaN                  NaN  ...          NaN                  NaN
26       NaN                  NaN  ...          NaN                  NaN
51       NaN                  NaN  ...          NaN                  NaN
91       NaN                  NaN  ...          NaN                  NaN
114      NaN                  NaN  ...          NaN                  NaN
...      ...                  ...  ...          ...                  ...
278800   NaN                  NaN  ...          NaN                  NaN
278836   NaN                  NaN  ...          NaN                  NaN
278843   NaN                  NaN  ...          NaN                  NaN
278844   NaN                  NaN  ...          NaN                  NaN
278846   NaN                  NaN  ...          NaN                  NaN

[15241 rows x 175 columns]

# Final Evaluation

In [ ]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):
  book_name = user_book_df[book]
  book_name.sort_values(ascending=False)
  rec_books = user_book_df.corrwith(book_name).sort_values(ascending = False).head()
  recommended_books = list(rec_books.index)
  return recommended_books

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    #if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
     # test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

['The God of Small Things', "Where the Heart Is (Oprah's Book Club (Paperback))", 'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!', 'Artemis Fowl (Artemis Fowl, Book 1)', 'Tell No One']
You haven't passed yet. Keep trying!

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)